 body {
  font-family: brandon-grotesque,HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

#navbar {
  background: #E0EBE8;
  height: 72px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
}

#navbar .navlist {
  list-style: none;
}

#navbar .nav-link {
  font-size: 14px;
  padding: 0px 10px;
  text-decoration: none;
  color: #5f97bd;
  margin: 0 0 0 1.5em;
  font-size: 1.375rem;
  font-weight: 545;
}

.navlist {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

/* .Page-title {
} */

h1 {
  color: #5f97bd;
}

.viewport {
  height: 100vh;
}

.footer {
   height: 200px;
    background-color :#c5ded7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.logos {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

/* #welcome-section {
  display: block;
  height: 100vh;
} */

@media screen and (max-width: 600px) {

   {

  }
}